@media (max-width: 768px)  {
	.vider .mune,.ico{
		display: none;
	}
	.vider  .menu_2{
		display: block;
	}
	.vider .main_2 ul li{
		width: 100%;
		padding-bottom: 40px;
	}
	.vider .main_2 .le
	{
		padding-left: 0;
	}
	.vider .main_3{
		padding-left: 5px;
	}
	.vider .main_3 ul li{
		width: 100%;
		padding-bottom:40px;
		height: 210px;
	}
	.vider .main_4 {
		height: 150px;
	}
	.vider .main_4 p{
		width: 100%;
	}
	.vider .main_5{
		padding-left: 3px;
		margin: 0;
	}
	.vider .main_5 ul li{
		width: 100%;
		height: 250px;
	}
	.vider .bootm .for{
		width: 80%;
	}
	.vider .bootm ul li {
		width: 90%;
	}
	.vider .botm .faq .pue{
		width: 100%;
	}
	.vider .green .gem{
		width: 100%;
	}
	.vider .green .ico{
		display: block;
	}
	.vider .logo{
		width: 60%;
	}
	.vider .nologo{
		width: 60%;
	}	
	.vider .ban{
		top: 10%;
	}
	.vider .ban h3{
		font-size: 2rem;
	}
	.vider .ban p{
		font-size: 1rem;
	}	
	.vider .banner img{
		height: 250px;
	}
	.vider .wpi .wep .wpio{
		width: 100%;
	}
	.vider .wpi .wep .wpie{
		width:100%;
		padding-top: 60px;
	}
	.vider .banner{
		margin-bottom: 50px;
	}
	.vider .abb{
		width: 90%;
	}
	.vider .bac{
		background-size: cover;
	}
	.vider .notop .menu_2 span{
		background-color: #000;
	}
	.vider .gal_1{
		width: 90%;
		margin: 0 auto;
		padding-right: 0;
		float: none;
	}
	.vider .gal_2{
		width: 90%;
		position: static;
		margin: 0 auto;
		overflow: visible;
		height: 100%;
		padding-bottom: 40px;
	}
	.vider .new{
		width: 90%;
	}
	.vider .new_1{
		width: 100%;
	}
}