@media (max-width: 1280px)  {
	.vider .top,.notop{
		height:80px;
	}
	.vider .logo,.nologo{
		margin-right: 2%;
		font-size: 20px;
		padding-top: 4px;
	}
	.cen{
		max-width: 98%;
	}
	.vider .mune{
		width: 65%;
	}
	.vider .mune ul li a{
		font-size: 10px;
	}
	.vider .banner{
		height: 250px;
	}
	.vider .main_3 ul{
	}
	.vider .main_3 .oblique{
		margin-right: 10px;

	}
	.vider .main_3 ul li{
		height: 150px;
	}
	.vider .main_3 ul li .maep p{
		font-size: 24px;
	}
	.vider .main_4{
		height: 200px;
	}
	.vider .main_4 p{
		font-size: 30px;
		padding-top: 6%;
	}
	.vider .main_5 ul li{
		height: 150px;
	}
	.vider .bootm ul{
		width: 95%;
	}
	.vider .botm .faq ul{
		padding-left:4%;
	}
	.vider .green{
		padding-left: 2%;
	}
	.vider .ban{
		top: 10%; 
	}
	.vider .wpi .wep{
		width: 80%;
	}
	.vider .wpi .wep .ab1 p{
		font-size: 14px;
	}	
	.vider .wpi .wep .wpie{
		padding-top: 0;
	}
}