	h1, p, a, img, * {
	    margin: 0;
	    padding: 0;
	    list-style: none;
	}

	a{
		color:#000;
		font-size: 100%;
		text-decoration: none;
	}

	img {
    	border: medium none;
    	vertical-align: middle;
	}

	* {
    	margin: 0;
    	padding-top: 0;
	}

	body {
   	 	color: #000;
		font-size: 100%;
		margin: 0px;
		width: 100%;
	}
	.xian {
		border-bottom: 1px solid #fff;
		width: 100%;
	}
	.cen{
		margin:0 auto;
		max-width: 94%;
	}
	.clear{
		clear: both;
	}
	.vider h5{
		text-align: center;
		font-size: 1.2rem;
		font-weight: 400;
		padding-bottom: 40px; 
	}
	.vider .separator{
		background-color: #000000;
	    border-color: #000000;
	    color: #000000;
	    height: 2px;
	    width: 50px;
	    margin: 0 auto;
	    margin-bottom: 40px; 
	}

	.vider{
		width: 100%;
		overflow: hidden;
	}
		.vider .top{
			width: 100%; 
			height: 100px;
			position: fixed;
			background-color: transparent;
			z-index: 100;
		}
	 .notop{
		position:relative;
		background-color: #fff;
		width: 100%; 
		height: 100px;	
		z-index: 100;	
	}			
		.vider .tob{
			padding:2% 0;
		}

		.vider .logo{
			float: left;
			margin-right: 6%;
			width:20%;
			font-size: 1.6rem;
			font-weight: bold;
			color: #fff;
		}
		 .nologo{
			float: left;
			margin-right: 6%;
			width:20%;
			font-size: 1.6rem;
			font-weight: bold;
			color: #000;
		}		
		.vider .mune{
			width:65%;
			text-align: center;
			float: left;
			color: #999;
			font-size: 1.2rem;
			line-height: 2.5rem;
		}
		.vider .ico{
			float: left;
		}
		.vider .mune ul li{
			float: left;
			margin:0 1%;
			color: #999;
		}
		.vider .mune ul li a{
			
			font-size: 16px;
			cursor:pointer; 						
		}
		.vider .mune ul .concepts:hover  .con{
			display: block;
		}
		.vider .mune ul .brand:hover  .bra{
			display: block;
		}	
		.vider .mune ul .arts:hover  .art{
			display: block;
		}	
		.vider .mune ul .about:hover  .abo{
			display: block;
		}
		.vider .notop .mune ul .concepts:hover  .con{
			background-color: #fff;
			overflow: 0.9;
		}
		.vider .notop .mune ul .brand:hover  .bra{
			background-color: #fff;
			overflow: 0.9;
		}	
		.vider .notop .mune ul .arts:hover  .art{
			background-color: #fff;
			overflow: 0.9;
		}	
		.vider .notop .mune ul .about:hover  .abo{
			background-color: #fff;
			overflow: 0.9;
		}												
		.vider .mune ul li ul{
		    position: absolute;
		    width: 200px;
		    z-index: 12;
		    line-height: 32px;
		    padding: 10px 0;
		    margin-top: 1px;	    
		    opacity: 0.9;
		    padding-left: 10px;
		    display: none;
		}	
		.vider .mune #topp{
			background-color: #000;
		}	
		.vider .mune a{
			color: #999;
		}
		.vider .mune ul li:hover{
			border-bottom: 1px solid #000;
		}
		.vider .mune  .whit a{
			color: #fff;
		}
		.vider .mune ul li ul li{
			width: 100%;
			text-align: left;
			padding-left: 0;
			margin:0;
			cursor: pointer;
		}

		#opi{
			color: #fff;
		}
		.vider .mune ul li ul li:hover{
			padding-left: 5px;
			transition: all 1s ease;
			-webkit-transition: all 1s ease;
			-moz-transition: all 1s ease;
			-o-transition: all 1s ease;
			border:none;
		}
		.vider  .menu_2{
			cursor: pointer;
			width: 30px;
	    	height: 20px;
	    	display: none;
	    	position: absolute;
	    	right: 10px;
	    	top: 20px;
	    	z-index: 6;
		}
		
			.vider  .menu_2 span{
				display: block;
				background-color: #fff;
			    margin-bottom: 6px;
			    height: 3px;
			    width: 20px;
			    left: 0;
			    cursor: pointer;
			}
		.vider .men{
				position:absolute;
				top: 89px;
				width: 100%;
				height: 0; 
				background-color: #0e0e0e;
				z-index: 199;
				transition: all 1s ease;
			   	-webkit-transition: all 1s ease;
			    -moz-transition: all 1s ease;
			   	-o-transition: all 1s ease;
				background: #fff;
				overflow: hidden;
				opacity: 0;
			}
		.vider  .men ul li{
			padding: 8px 10px !important;
			font-size: 14px;
			width:100%;
			color: #000;
			border-bottom: 1px solid #000;
			text-align: left;
			float: left;
			z-index: 6;
		}
		.vider  .men ul li div{
			float: left;
		}
		.vider  .men ul li .conce{
			float: none;
			font-size: 10px;
			display: none;
		}
		.vider  .men ul li .co{
			width: 20px;
			height: 20px;	
			float: right;
			display:inline-block;
			padding-right: 20px;
			z-index: 10;
		}
		.vider  .men ul li .co div{			
			transition: all 0.5s ease;
			-webkit-transition: all 0.5s ease;
			-moz-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;			
		}
		.vider  .men ul li .co div:before{
			content: "\003E";
			font-size: 25px;
			line-height: 20px;
		}	
		.vider .men span{
			width: 100%;
			display: inline-block;
			padding: 8px 10px !important;
		}		
		.vider .ico ul li{
			float: left;
			width: 30px;	
			margin: 2px;
			margin-right:10px;
			border-radius: 20px;
		}
		.vider  .ico ul li{
			background-color: #999;
		}
		.vider .ico ul li:hover{
			background-color: #333;
		}
		.vider .chat{
			content: url("../images/what.png");
		}
		.vider .face{
			content: url("../images/face.png");
		}
		.vider .twe{
			content: url("../images/twe.png");
		}				
	.vider .banner{
		height: 450px;
		overflow: hidden;
		margin-bottom: 100px;
		width: 100%;
	}	
	.vider .banner_2{
		height: 150px;
	}
		.vider .banner img{
			width: 100%;
		}
	.vider .ban{
		position: absolute;
		top: 24%;
		text-align: center;
		width: 100%;
		color: #fff;
	}	
	.vider .ban h3{
		margin: 0 auto;
		max-width: 1160px;		
		font-size: 3rem;
		padding-bottom: 40px;
	}
	.vider .ban p{
		font-size: 1.5rem;
		font-weight: 350;
		width: 70%;
		margin: 0 auto;
	}	
	.vider .ban a{
		color: #fff;
	}
		.vider .main_1{
			margin: 0 auto;
			width: 65%;
			text-align: center;

		}
			.vider .main_1 h3{
				font-size: 2.5rem;
			}
			.vider .main_1 p{
				line-height: 30px;
				padding-bottom: 150px;
				width: 80%;
				font-weight: 520;
				margin: 0 auto;
			}

	.vider .main_2{
		margin: 0 auto;
		width: 65%;
		text-align: center;
		border-top: 1px solid #999;
		padding-top: 20px;
		padding-bottom: 140px;
	}
		.vider .main_2 h3{
			padding-bottom: 100px;
			font-size: 2rem;
			font-weight:300;
		}
		.vider .main_2 ul li{
			float: left;
			width: 30%;	
		}
		.vider .main_2 .le{
			padding-left: 5%;
		}
			.vider .main_2 ul li h4{
				font-size: 1.8rem;
				font-weight: 450;
				padding-bottom: 20px;
			}
			.vider .main_2 ul li p{
				color: #999;
				line-height: 30px;
			}
	.vider .main_3{
		padding-left: 15px;
		padding-bottom: 60px;
	}
		.vider .main_3 ul {
			padding-bottom:20px;
		}	
			.vider .main_3 ul li {
				width: 32%;
				float: left;
				height: 250px;
				text-align: center;	
				position: relative;
				overflow: hidden;
			}

			.vider .main_3  .map_1{
				background: url('../images/f1.jpg') no-repeat center;
				background-size: 100%;
				background-color: #000;
			}
			.vider .main_3  .map_2{
				background: url('../images/f2.jpg') no-repeat center;
				background-size: 100%;
			}
			.vider .main_3  .map_3{
				background: url('../images/f3.jpg') no-repeat center;
				background-size: 100%;
			}
			.vider .main_3  .map_4{
				background: url('../images/f4.jpg') no-repeat center;
				background-size: 100%;
			}
			.vider .main_3  .map_5{
				background: url('../images/f5.jpg') no-repeat center;
				background-size: 100%;
			}
			.vider .main_3  .map_6{
				background: url('../images/f6.jpg') no-repeat center;
				background-size: 100%;
			}			
				.vider .main_3 ul li .maep{
					width: 100%;
					top: 0;
					height: 100%;	
					position: absolute;	
					transition: all 1s ease;
			   	 	-webkit-transition: all 1s ease;
			    	-moz-transition: all 1s ease;
			   		-o-transition: all 1s ease;
				}
					.vider .main_3 ul li .maep p{
						font: 700 42px "Arial"," Helvetica"," sans-serif","Open Sans","Arial",sans-serif;
						color: #fff;
						padding-top: 20%;
					}
					.vider .main_3 ul li:hover .maep{
						top: -100%;
					}	
				.vider .main_3 ul li .mape{
					width: 100%;
					position: absolute;
					height: 100%;
					top: 100%;
				    color: #fff;
				    transition: all 1s ease;
			   	 	-webkit-transition: all 1s ease;
			    	-moz-transition: all 1s ease;
			   		-o-transition: all 1s ease;
			   		background-color: #000;
			   		opacity: 0.8;
				}	
					.vider .main_3 ul li .mape p{
						padding-top: 15%;
						font: 200 18px "Arial"," Helvetica"," sans-serif","Open Sans","Arial",sans-serif;
						width: 60%;
						text-align: center;
						vertical-align:middle;
						margin: 0 auto;
					}

					.vider .main_3 ul li:hover .mape {
						top: 0;
					}	
			
			.vider .main_3 .oblique{
				margin-right: 20px;
			}
	.vider .main_4{
		background-color: #000;
		width: 100%;
		height: 450px;
		margin-bottom: 60px;
		
	}
	.vider .main_4 h3{
			width: 35%;
			color: #fff;
			font-size: 40px;
			padding-top: 4%;
			padding-left: 10%;
		
	}	
	.vider .main_4 h4{
			width: 35%;
			color: #fff;
			font-size: 26px;
			padding-left: 10%;
			padding-top: 40px;
	}		
		.vider .main_4 p{
			width: 35%;
			color: #fff;
			font-size: 40px;
			padding-top: 8%;
			padding-left: 10%;
		}
	.vider .main_5{
		padding-left: 15px;
		padding-bottom: 5%;
		margin: 0 auto;
    	max-width: 94%;
	}
		.vider .main_5 ul{
			padding-bottom: 30px;
		}

			.vider .main_5 ul li {
				width: 23%;
				float: left;
				height: 250px;
				text-align: center;	
				position: relative;
				overflow: hidden;
			}	
		.vider .main_5 .oblique{
			margin-right: 2%;
		}
		.vider .main_5  .map_1{
			background: url('../images/d1.jpg') no-repeat center;
			background-size: 100%;
		}
		.vider .main_5  .map_2{
			background: url('../images/d2.jpg') no-repeat center;
			background-size: 100%;
		}	
		.vider .main_5  .map_3{
			background: url('../images/d3.jpg') no-repeat center;
			background-size: 100%;
		}					
		.vider .main_5  .map_4{
			background: url('../images/d4.jpg') no-repeat center;
			background-size: 100%;
		}
		.vider .main_5  .map_5{
			background: url('../images/d5.jpg') no-repeat center;
			background-size: 100%;
		}
		.vider .main_5  .map_6{
			background: url('../images/d6.jpg') no-repeat center;
			background-size: 100%;
		}
		.vider .main_5  .map_7{
			background: url('../images/d7.jpg') no-repeat center;
			background-size: 100%;
		}
		.vider .main_5  .map_8{
			background: url('../images/d8.jpg') no-repeat center;
			background-size: 100%;
		}		
		.vider .main_5  .map_9{
			background: url('../images/d9.jpg') no-repeat center;
			background-size: 100%;
		}
		.vider .main_5  .map_10{
			background: url('../images/d10.jpg') no-repeat center;
			background-size: 100%;
		}
		.vider .main_5  .map_11{
			background: url('../images/d11.jpg') no-repeat center;
			background-size: 100%;
		}			
		.vider .main_5  .map_12{
			background: url('../images/d12.jpg') no-repeat center;
			background-size: 100%;
		}									
			.vider .main_5 ul li .maep{
				width: 100%;
				height: 100%;	
				position: absolute;	
				transition: all 600ms ease;
		   	 	-webkit-transition: all 600ms ease;
		    	-moz-transition: all 600ms ease;
		   		-o-transition: all 600ms ease;
			}
				.vider .main_5 ul li:hover .maep{
					top: -100%;
				}	
				.vider .main_5 ul li .mape{
					width: 100%;
					opacity: 0;
					height: 100%;
				    color: #fff;
				    background-color: #000;
				    transition: all 1s ease;
			   	 	-webkit-transition: all 1s ease;
			    	-moz-transition: all 1s ease;
			   		-o-transition: all 1s ease;
			   		
				}	
					.vider .main_5 ul li .mape p{
						padding-top: 25%;
						text-align: center;
						font: 200 18px "Arial"," Helvetica"," sans-serif","Open Sans","Arial",sans-serif;
					}

				.vider .main_5 ul li:hover .mape {
					opacity: 0.8;
				}	
		.vider .main_5 .bn{
			text-align: center;
			display: block;
			padding-top: 25px;
			padding-bottom: 120px;
			
		}
.vider .bn .bun{
	padding: 12px;
}
	.vider .bootm{
		text-align: center;
		padding-bottom: 4%;
	}

		.vider .bootm .for{
			line-height: 30px;
			font-weight: 550;
			margin: 0 auto;
			padding-bottom: 5%;
		}
		.vider .bootm ul{
			max-width: 1160px;
			margin: 0 auto;
		}
			.vider .bootm ul li{
				width: 20%;
				overflow: hidden;
				float: left;
				text-align: left;
			}
				.vider .bootm ul li img{
					width:100%;
				}
		.vider .bootm .pos{
			padding-right:5%;
		}
			.vider .bootm h4{
				padding:15px 0;
				font-size: 16px;
				font-weight: 600;
			}
			.vider .bootm p{
				padding:14px 0;
				font-size: 14px;
				color: #7a7a7a;
			}
	.vider .botm{
		width: 100%;
		background-color: #000;
	}
	.vider .botm h5{

		color: #fff;
		padding-top:100px;
	}
	.vider .botm .separator{
		background-color: #fff;
	}
	.vider .botm .faq{
		width: 100%;
		max-width: 1160px;
		margin: 0 auto;	
	}
	.vider .botm .faq .pue{
		color: #fff;
		float: left;
		width: 50%;
	}
	.vider .botm .faq ul li{
		float: left;	
	}
	.vider .botm .faq ul{
		padding-left: 8%;
	}
	.vider .botm .faq ul li h3{
		font-size: 26px;
		padding-bottom: 30px;
	}
	.vider .botm .faq ul li p{
		padding-bottom: 60px;
		font-size:16px;
	}
	.vider .botm .faq .pu:before{
		content:url('../images/faq.png');
		width: 10%;
		float: left;
		line-height: 50px;
	}
	.vider .green{
		background-color: #444;
		width: 100%;
	}
	.vider .gre{
		width: 100%;
		max-width: 1160px;
		margin: 0 auto;
	}
	.vider .green .gem{
		width: 24%;
		float: left;
		padding:8% 0;
	}
	.vider .green .gem h3{
		font-weight: 500;
		font-size:14px;
		color: #fff;
		padding-bottom: 20px;
	}	
	.vider .green .gem p{
		font-size: 12px;
		color: #a2a2a2;
		line-height: 20px;
	}
	.vider .green .ico  ul li{
		border:1px solid #a2a2a2;
		border-radius: 0;
		background-color:#444;
	}
	.vider .ico ul li:hover{
		background-color: #333;
	}

	.vider .wpi{
		width: 100%;
		padding-bottom: 120px;
	}
	.vider .wpi .wep{
		width: 70%;
		margin:0 auto;
	}	
	.vider .wpi .wep .wpio{
		width: 49%;
		float: left;
		padding-right: 10%;
		overflow: hidden;
	}
	.vider .wpi .wep .app{
		padding-right:6%;
	}
	.vider .wpi .wpio img{
		width: 100%;
	}	
	.vider .wpi .wep .wpie{
		width: 30%;
		float: left;
		text-align: center;
		padding-top: 5%;
	}
	.vider .wpi .wep .wpie h3{
		font-weight: 400;
		font-size: 1.5rem;
	}
	.vider .wpi .wep .wpie h4{
		color: #808080;
		padding-top:30px;
		font-size: 20px;
		font-weight: 400;
	}	
	.vider .wpi .wep .wpie p{
		color: #808080;
		padding:30px 0;
		font-size: 18px;
		font-weight: 400;
	}
	.vider .wpi .wep .spie{
		padding-top: 0;
	}	
	.vider .wpi .wep .ab1{
		width: 40%;
		padding-top: 0;		
	}
	.vider .abb{
		text-align: center;
		padding-bottom: 20px;
		font-size: 20px;
		width: 60%;
		margin: 0 auto;		
	}
	.vider .abb h3{
		font-weight: 400;
	}		
	.vider .wpi .wep .ab1 p{
		padding-top: 0;
		font-size: 20px;
	}	
	.vider  .bun{
		padding: 6px 12px;
		border: 1px solid #000;
		display: inline;
		cursor: pointer;
		text-align: center;
		font-size: 12px;
	}
	.vider  .bun:hover{
		background-color: #000;
		color: #fff;
	}
	.vider .bac{
		z-index: 2;
		background:#fff url("../images/c2.jpg") no-repeat fixed center center;
		position: relative;
    	top: 0px;
    	left: 0px;
    	height: 300px;
    	overflow: hidden;
    	margin-bottom: 40px;
		background-size: 100%;    	
	}
	.vider .b2{	
		background-image: url("../images/b2.jpg");
	}
	.vider .b4{	
		background-image: url("../images/b4.jpg");
	}
	.vider .a2{	
		background-image: url("../images/a2.jpg");
	}
	.vider .a4{	
		background-image: url("../images/a4.jpg");
	}		
	.vider .s2{	
		background-image: url("../images/s2.jpg");
	}	
	.vider .l2{	
		background-image: url("../images/l2.jpg");
	}						
		.vider .bac .wp{
			background: #000000;
			opacity: 0.3;
	    	position: absolute;
	    	top: 0px;
	    	left: 0px;
	    	width: 100%;
	    	height: 100%;
	   		z-index: 1;
		}
	.vider .separ{
    	border-bottom: 1px solid #e2e2e2;
	}
	.vider .collection{
		padding: 100px 0;
		text-align: center;
	}
	.vider .collection .separator{
		background-color: #e2e2e2;
	}	
	.vider .me{
		padding-bottom: 40px;
		padding-left: 15px;
	}
	.vider .portfoltio ul li{
		width: 18%;
		height: 160px;
	}
	.vider .portfoltio{
		padding-bottom: 20px;
	}	
	.vider .portfoltio .separator{
		background-color: #e2e2e2;
	}	
	.vider .portfoltio .me{
		padding-bottom: 100px;
	}
	.vider .lo{
		text-align: center;
		padding-bottom: 100px;
	}
	.vider .more{
		background: #444;
		color: #fff;
		text-align: center;
		padding: 15px 20px; 
		border-radius:4px;
		display: inline;
	}
	.vider .abc{
		font-size: 26px;
		text-align: center;
		line-height: 50px;
		margin-bottom: 20px;
	}
	.vider .mep{
		width: 100%;
		height: 300px;		
	}
	.vider .emal{
		text-align: center;
		margin: 0 auto;
		width: 5%;
		display: block; 
	}
	.vider .ga{
		background-color: #eee;
		width: 100%;
	}
	.vider .gal{
		width: 98%;
		margin:0 auto;
		padding-top: 30px;
	}
	.vider .gal_1{
		width: 68%;
		overflow: hidden;
		float: left;
	}
	.vider .gal_1 img{
		width: 100%;
		padding-bottom:30px;
	}
	.vider .gal_2{
		width: 27%;
		position: fixed;
		text-align: center;
		right: 2%;
		margin-top: 30px;
		overflow: auto;
		height: 682px;
	}
	.vider .gal_2 h3{
		padding-bottom: 30px;
	}
	.vider .gal_2 .separator{
    	width: 40px;
	}
	.vider .gal_2 h4{
		font-size: 16px;
		padding-bottom: 20px;
	}
	.vider .gal_2 p{
		font-size: 14px;
		padding-bottom: 30px;
		color: #999;
	}
	.vider .lef{
		left: 2%;
	}
	.vider .rig{
		float: right;
	}
	.vider .gal_2 .gall{
		height: 60px;
		width: 80px;
		margin: 0 auto;
		margin-top: 40px;
	}	
	.vider .jiu{
		width: 18px;
		float: left;
		margin-right: 10px;	
	}	
	.vider .jiu span{
		background: #000;
	    float: left;
	    height: 4px;
	    width: 4px;
	    margin-bottom: 1px;
	    margin-left: 1px;
	    -webkit-transition: all 0.3s ease;
	    -moz-transition: all 0.3s ease;
	    -o-transition: all 0.3s ease;
	    -ms-transition: all 0.3s ease;
	    transition: all 0.3s ease;
	}
	.vider .gal_2 .prev:after{
		content: "\2190";
		float: left;
		font-size: 100%;
		line-height: 15px;	
		margin-right: 10px;	
	}
	.vider .gal_2 .next:after{
		content: "\2192";
		float: left;
		font-size: 100%;
		line-height: 15px;
	}	
	.vider .new{
		width: 60%;
		margin: 0 auto;
		padding-bottom: 60px;
	}
	.vider .new_1{
		width: 70%;	
		padding-bottom: 60px;
		border-bottom:3px solid #eee;		
		margin-bottom: 30px;
	}
	.vider .new_1 img{
		width: 100%;
	}
	.vider .new_1 img,h3,h4,p{
		padding-bottom: 30px;
	}
	.vider .new_1 h4{
		font-weight: 400;
	}
	.vider .new_1 h3{
		font-size: 1.6rem;
	}
	.vider .new_1 p{
		font-size: 0.9rem;
		line-height: 1.4rem;
	}
	.vider .new_1 .more{
		padding:8px;
		border-radius:0;
		font-size: 0.8rem;
	}
	.vider .but{
		width: 35px;
	    height: 35px;
	    line-height: 35px;
	    margin: 0 16px 0px 0px;
	    display: inline-block;
	    box-sizing: border-box;
	    padding:0;
	    border:none;   
	    align-items:start;
	    text-align: center;
	    font-size:0.9rem;
	}
	.hui{
		background: #efefef;
		cursor: pointer;
	}
	.bla{
		background: #000;
		color: #fff;
		cursor: auto;
	}
	.vider .new .new_1 h5{
		text-align: left;
		font-size: 0.8rem;
		font-weight: 600;
	}
	.vider .new .new_1 ul{
		padding-bottom: 30px;
	}
	.vider .new .new_1 ul li{
		list-style:disc;
		font-size: 0.8rem;
		padding-bottom: 20px;
		margin-left: 20px;
	}
	.vider .new .new_1 li h5 {
		padding-bottom: 0;
	}
	.vider .new .new_1 h5 span{
		font-weight: normal;
	}